<div class="container-fluid mt-5 about-style" id="aboutid">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <h1 class="text-center main-heading">About Us</h1>
      <p class="text-center sub-heading">grow your business with us</p>
      <div class="row">
        <div class="col-md-6 col-12 hero-text">
          <figure>
            <img src="images/about.svg" alt="" />
          </figure>
        </div>

        {{! right side }}
        <div
          class="col-md-6 col-12 hero-text d-flex justify-content-center align-items-start flex-column"
        >
          <h1>WE ARE THE PROFESSIONAL DEVELOPER 🤞</h1>
          <p>Lorem ipsum dolor sit<span class="bold-style"> GigWitz </span>Lorem
            ipsum dolor sit amet consectetur adipisicing elit.autem nulla
            veritatis rerum numquam, quisquam exercitationem nostrum magnam
            vitae quia!</p>
          <button class="btn-style btn-primary">Read More</button>
        </div>
      </div>
    </div>
  </div>
</div>